@media screen and (min-width: 1025px) {
    /* I C O N S (only on 1024+ px resolutions)
  ~~~~~~~~~~~~*/

    #list a[href*="."]:before,
    #list a[href*="/"]:before,
    #list a[href~="INSTALL"]:before,
    #list a[href~="README"]:before,
    #list a[href~="CHANGELOG"]:before,
    #list a[href~="COPYING"]:before {
        background: url('/icons/default.png') left center no-repeat;
        background-size: 16px;
        content: "";
        padding: 0 22px 0 0;
    }
    #list a[href*="."]:after,
    #list a[href*="/"]:after {
        content: "";
    }
    #list a[href$="/"]:before,
    #list a[href*="/?"]:before {
        background: url('/icons/folder.png') left center no-repeat;
        background-size: 16px;
    }
    /* A P P L I C A T I O N
  ~~~~~~~~~~~~~~~~~~~~~~~~*/
    #list a[href$=".msi"]:before {
        background: url('/icons/msi.png') left center no-repeat;
        background-size: 16px;
    }
    #list a[href$=".exe"]:before {
        background: url('/icons/exe.png') left center no-repeat;
        background-size: 16px;
    }

    #list a[href$=".tex"]:before {
        background: url('/icons/text-plain.png') left center no-repeat;
        background-size: 16px;
    }

    #list a[href$=".doc"]:before {
        background: url('/icons/application-msword.png') left center no-repeat;
        background-size: 16px;
    }
    #list a[href$=".pdf"]:before {
        background: url('/icons/application-pdf.png') left center no-repeat;
        background-size: 16px;
    }
    #list a[href$=".pgp"]:before {
        background: url('/icons/pgp.png') left center no-repeat;
        background-size: 16px;
    }
    #list a[href$=".xml"]:before {
        background: url('/icons/xml.png') left center no-repeat;
        background-size: 16px;
    }
    #list a[href$=".xls"]:before {
        background: url('/icons/xls.png') left center no-repeat;
        background-size: 16px;
    }
    #list a[href$=".ppt"]:before {
        background: url('/icons/ppt.png') left center no-repeat;
        background-size: 16px;
    }
    #list a[href$=".7z"]:before {
        background: url('/icons/7z.png') left center no-repeat;
        background-size: 16px;
    }
    #list a[href$=".torrent"]:before {
        background: url('/icons/file.png') left center no-repeat;
        background-size: 16px;
    }
    #list a[href$=".iso"]:before {
        background: url('/icons/iso.png') left center no-repeat;
        background-size: 16px;
    }
    #list a[href$=".cue"]:before,
    #list a[href$=".bin"]:before {
        background: url('/icons/bin.png') left center no-repeat;
        background-size: 16px;
    }
    #list a[href$=".deb"]:before {
        background: url('/icons/deb.png') left center no-repeat;
        background-size: 16px;
    }
    #list a[href$=".swf"]:before {
        background: url('/icons/swf.png') left center no-repeat;
        background-size: 16px;
    }
    #list a[href$=".tgz"]:before,
    #list a[href$=".tar.gz"]:before,
    #list a[href$=".tar.xz"]:before {
        background: url('/icons/application-x-tar.png') left center no-repeat;
        background-size: 16px;
    }
    #list a[href$=".xpi"]:before {
        background: url('/icons/xpi.png') left center no-repeat;
        background-size: 16px;
    }
    #list a[href$=".apk"]:before {
        background: url('/icons/file.png') left center no-repeat;
        background-size: 16px;
    }
    #list a[href$=".bat"]:before {
        background: url('/icons/file.png') left center no-repeat;
        background-size: 16px;
    }
    #list a[href$=".jar"]:before {
        background: url('/icons/jar.png') left center no-repeat;
        background-size: 16px;
    }
    #list a[href$=".pl"]:before {
        background: url('/icons/pl.png') left center no-repeat;
        background-size: 16px;
    }
    #list a[href$=".php"]:before {
        background: url('/icons/php.png') left center no-repeat;
        background-size: 16px;
    }
    #list a[href$=".rar"]:before {
        background: url('/icons/application-x-rar.png') left center no-repeat;
        background-size: 16px;
    }
    #list a[href$=".rpm"]:before {
        background: url('/icons/rpm.png') left center no-repeat;
        background-size: 16px;
    }
    #list a[href$=".rb"]:before {
        background: url('/icons/rb.png') left center no-repeat;
        background-size: 16px;
    }
    #list a[href$=".tar"]:before {
        background: url('/icons/tar.png') left center no-repeat;
        background-size: 16px;
    }
    #list a[href$=".zip"]:before {
        background: url('/icons/application-x-zip.png') left center no-repeat;
        background-size: 16px;
    }
    /* A U D I O
  ~~~~~~~~~~~~*/

    #list a[href$=".m3u"]:before {
        background: url('/icons/audio.png') left center no-repeat;
        background-size: 16px;
    }
    #list a[href$=".mpeg"]:before {
        background: url('/icons/mpg.png') left center no-repeat;
        background-size: 16px;
    }
    #list a[href$=".wma"]:before {
        background: url('/icons/audio.png') left center no-repeat;
        background-size: 16px;
    }
    #list a[href$=".ogg"]:before {
        background: url('/icons/ogg.png') left center no-repeat;
        background-size: 16px;
    }
    #list a[href$=".wav"]:before {
        background: url('/icons/wav.png') left center no-repeat;
        background-size: 16px;
    }
    #list a[href$=".flac"]:before {
        background: url('/icons/audio.png') left center no-repeat;
        background-size: 16px;
    }
    /* I M A G E
  ~~~~~~~~~~~~*/

    #list a[href$=".bmp"]:before,
    #list a[href$=".svg"]:before {
        background: url('/icons/image.png') left center no-repeat;
        background-size: 16px;
    }
    #list a[href$=".gif"]:before {
        background: url('/icons/gif.png') left center no-repeat;
        background-size: 16px;
    }
    #list a[href$=".jpg"]:before,
    #list a[href$=".jpeg"]:before {
        background: url('/icons/jpeg.png') left center no-repeat;
        background-size: 16px;
    }
    #list a[href$=".png"]:before {
        background: url('/icons/png.png') left center no-repeat;
        background-size: 16px;
    }
    #list a[href$=".tiff"]:before {
        background: url('/icons/image.png') left center no-repeat;
        background-size: 16px;
    }
    #list a[href$=".ico"]:before {
        background: url('/icons/image.png') left center no-repeat;
        background-size: 16px;
    }
    #list a[href$=".psd"]:before {
        background: url('/icons/image-x-psd.png') left center no-repeat;
        background-size: 16px;
    }
    #list a[href$=".xcf"]:before {
        background: url('/icons/image.png') left center no-repeat;
        background-size: 16px;
    }
    /* T E X T
  ~~~~~~~~~~*/

    #list a[href$=".css"]:before {
        background: url('/icons/css.png') left center no-repeat;
        background-size: 16px;
    }
    #list a[href$=".htm"]:before,
    #list a[href$=".html"]:before,
    #list a[href$=".md"]:before {
        background: url('/icons/html.png') left center no-repeat;
        background-size: 16px;
    }
    #list a[href$=".txt"]:before,
    #list a[href$=".json"]:before {
        background: url('/icons/txt.png') left center no-repeat;
        background-size: 16px;
    }
    #list a[href$=".csv"]:before {
        background: url('/icons/csv.png') left center no-repeat;
        background-size: 16px;
    }
    #list a[href$=".conf"]:before {
        background: url('/icons/conf.png') left center no-repeat;
        background-size: 16px;
    }
    #list a[href$=".rtf"]:before {
        background: url('/icons/rtf.png') left center no-repeat;
        background-size: 16px;
    }
    #list a[href$=".bak"]:before {
        background: url('/icons/file.png') left center no-repeat;
        background-size: 16px;
    }
    #list a[href$=".c"]:before {
        background: url('/icons/c.png') left center no-repeat;
        background-size: 16px;
    }
    #list a[href$=".cpp"]:before {
        background: url('/icons/cpp.png') left center no-repeat;
        background-size: 16px;
    }
    #list a[href~="CHANGELOG"]:before {
        background: url('/icons/txt.png') left center no-repeat;
        background-size: 16px;
    }
    #list a[href~="COPYING"]:before {
        background: url('/icons/txt.png') left center no-repeat;
        background-size: 16px;
    }
    #list a[href~="INSTALL"]:before {
        background: url('/icons/txt.png') left center no-repeat;
        background-size: 16px;
    }
    #list a[href$=".java"]:before {
        background: url('/icons/java.png') left center no-repeat;
        background-size: 16px;
    }
    #list a[href$=".js"]:before {
        background: url('/icons/js.png') left center no-repeat;
        background-size: 16px;
    }
    #list a[href$=".h"]:before {
        background: url('/icons/c.png') left center no-repeat;
        background-size: 16px;
    }
    #list a[href$=".py"]:before {
        background: url('/icons/py.png') left center no-repeat;
        background-size: 16px;
    }
    #list a[href~="README"]:before {
        background: url('/icons/txt.png') left center no-repeat;
        background-size: 16px;
    }
    #list a[href$=".sh"]:before {
        background: url('/icons/file.png') left center no-repeat;
        background-size: 16px;
    }
    #list a[href$=".sql"]:before {
        background: url('/icons/sql.png') left center no-repeat;
        background-size: 16px;
    }
    #list a[href$=".xml"]:before {
        background: url('/icons/xml.png') left center no-repeat;
        background-size: 16px;
    }
    /* V I D E O
  ~~~~~~~~~~~~*/

    #list a[href$=".avi"]:before,
    #list a[href$=".mp4"]:before,
    #list a[href$=".mkv"]:before,
    #list a[href$=".divx"]:before,
    #list a[href$=".wmv"]:before {
        background: url('/icons/video.png') left center no-repeat;
        background-size: 16px;
    }
}
